.kpi-title-row{
    color: white;
    font-size: 28px;
    font-weight: 600;
    text-shadow: 4px 4px 4px rgb(0 0 0 / 25%);
}

.kpi-content-row{
    display: flex;
    justify-content: center;
}

.kpi-content{
    color: white;
    font-size: 100px;
    font-weight: 700;
    text-shadow: 4px 4px 4px rgb(0 0 0 / 25%);
}

.kpi-icon{
    height: 65px;
    width: 65px;
    align-self: center;
    margin-right: 15px;
}